# PySpark

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import findspark
import os
import pandas as pd


os.environ["JAVA_HOME"] = "/Users/t1ct1ch20284633/Downloads/jdk-21.0.1.jdk/Contents/Home"
os.environ["SPARK_HOME"] = "/Users/t1ct1ch20284633/Library/Mobile Documents/com~apple~CloudDocs/CU/Courses/2110531_DS&DE_Tools/Final_Project/spark"

findspark.init()
spark_url = 'local'

spark = SparkSession.builder\
        .master(spark_url)\
        .appName('Spark SQL')\
        .getOrCreate()

# file_path = 'scopus_scraping/'
# file_name = 'data_2017'
file_path = './'
file_name = 'data_2018_2023'

df = spark.read.csv(f'{file_path}{file_name}.csv', sep='|', header = True)
df.show()

df = df.filter(
        (F.col('authors').isNotNull())
        & (F.col('title').isNotNull())
        & (F.col('abstracts').isNotNull())
        & (F.col('description').isNotNull())
        # & (F.col('doi').isNotNull())
        & (F.col('affiliation').isNotNull())
        & (F.col('city').isNotNull())
        & (F.col('country').isNotNull())
        & (F.col('latitude').isNotNull())
        & (F.col('longitude').isNotNull())
)

pd_df = df.toPandas()
pd_df.to_csv(f'cleaned_{file_name}.csv', sep='|', index=False)

# Pandas

In [ ]:
# file_path = 'scopus_scraping/'
# file_name = 'data_2017'
file_path = './'
file_name = 'data_2018_2023'

df = pd.read_csv(f'{file_path}{file_name}.csv', sep='|')
df.reset_index(drop=True)

df.dropna(subset=[
    'authors',
    'title',
    'abstracts',
    'description',
    'doi',
    'affiliation',
    'city',
    'country',
    'latitude',
    'longitude'
], inplace=True)
print(df.isnull().sum())
display(df)

df.to_csv(f'cleaned_{file_name}.csv', sep='|', index=False)

In [42]:
df = pd.read_csv('data_2018_2023.csv', sep='|')
col = df.columns

In [44]:
for c in col:
    print(c)

authors
title
abstracts
description
doi
affiliation
city
country
latitude
longitude

In [46]:
# df['country'].groupby()
n_country = df.groupby('country').agg({'authors': 'count'})
n_country

               authors
country
Algeria              6
Argentina            4
Armenia              2
Australia          166
Austria             16
...                ...
United States      720
Uruguay              1
Viet Nam           186
Zambia               1
Zimbabwe             1

[104 rows x 1 columns]